
<div [ngSwitch]="Girlfriends">
  <div *ngSwitchCase="'simran'">
    <h2>still not married bcz she is loving me </h2> 
  </div>
  <div *ngSwitchCase="'simran2'" >
    <h2>rejected by me bcz i am in love with simran1</h2>
  </div>
  <div *ngSwitchCase="'simran3'">
   <h2>she is proposed me by @11.00pm bcz i am shocked and rejected</h2>
  </div>
  <div *ngSwitchCase="'simran4'" >
    <h2>she is loving me but i am not gave chance to propose </h2>
  </div>
  <div *ngSwitchDefault>
  <h2>
    simran loves imran
 </h2>
  </div>
</div>

<h1>{{625|sqrt}}</h1>